.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #000000;
  --color-2: #47a8ff;
  --color-3: #4355da;
  --color-4: #800030;
}

.title-word-2 {
  --color-1: #ff800f;
  --color-2: #2a6f2f;
  --color-3: #949ab0;
  --color-4: #731879;
}

.title-word-3 {
  --color-1: #6e7c6a;
  --color-2: #93a73c;
  --color-3: #6d5550;
  --color-4: #432774;
}



@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  66%   {color: var(--color-4)}
  99%   {color: var(--color-3)}
  99%   {color: var(--color-4)}
  100%  {color: var(--color-1)}
  100%  {color: var(--color-4)}
}

/* Here are just some visual styles. 🖌 */


.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
}